<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/internal_logs/internallog.txt">

	<!-- Define where to write logs -->
	<targets>
		<!-- Log to a file in the logs directory -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}_logfile.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				encoding="utf-8"
				concurrentWrites="true"
				keepFileOpen="false"
				maxArchiveFiles="7"
				archiveEvery="Day" />

		<!-- Log to console for real-time output (useful during development/debugging) -->
		<target name="console" xsi:type="Console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Rules for mapping loggers to targets -->
	<rules>
		<!-- Write all log messages of level Trace and above to both the file and console -->
		<logger name="*" minlevel="Trace" writeTo="logfile,console" />
	</rules>
</nlog>
