<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div><p style="color: #9F6000; background-color: #FEEFB3;"><strong>Error Information:</strong></p></div>
        <div>
            <p>
                <strong>Reporter Email:</strong>{{UserEmail}}<br />
                <strong>Request Id:</strong>{{RequestId}}<br />
                <strong>Time Of Error:</strong>{{TimeOfError}}<br />
            </p>
        </div>
        <div>
            <p style="color: #D8000C;background-color: #FFD2D2"><strong>Detail of Error:</strong><br /></p>
            <p style="color: #00529B; background-color: #BDE5F8;">
                {{DetailOfError}}
            </p>
        </div>
    </div>
</body>
</html>