<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css;charset=UTF-8" />
</head>
<body vlink="#0083C1" alink="#0083C1" link="#0083C1" text="#333333" bgcolor="#FFFFFF" style="background-color:#FFFFFF;color:#333333;font-family:Arial,sans-serif;font-size:12px;">
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;border-collapse:collapse'>
        <tr>
            <td valign=top>
                <div align=center>
                    <table cellspacing="0" cellpadding="0" border="0" width="600" style="background:#F3F3F3">
                        <tr>
                            <td colspan="3">
                                <img src="{{imagesUrl}}/email-banner.png" width="600" height="150" alt="Fahrschulportal" />
                            </td>
                        </tr>
                        <tr>
                            <td width="20" style="vertical-align:top;"></td>
                            <td valign="top" align="left" width="600" style="vertical-align:top;">
                                <br style="font-size:11px;" />
                                <span style="font-size:11px;">&nbsp;</span>
                                <br style="font-size:11px;" />
                                <span style="font-family:Arial,sans-serif;font-size:14px;color:#333333;">Sehr geehrter {{userName}},</span>
                                <br style="font-size:12px;" />
                                <span style="font-size:12px;">&nbsp;</span>
                                <br style="font-size:12px;" />
                                <span style="font-family:Arial,sans-serif;font-size:12px;color:#333333;">bitte klicken Sie auf diesen <a href="{{link}}">Link</a> um Ihr Passwort zurück zu setzen.</span>
                                <br style="font-size:12px;" />
                                <span style="font-size:12px;">&nbsp;</span>
                                <br style="font-size:12px;" />
                                <span style="font-family:Arial,sans-serif;font-size:12px;color:#333333;">Ihr Team vom FE-Portal</span>
                                <br style="font-size:11px;" />
                                <span style="font-size:11px;">&nbsp;</span>
                                <br style="font-size:11px;" />
                            </td>
                            <td width="20" style="vertical-align:top;"></td>
                        </tr>
                    </table>
                    {{impressum}}
                </div>
            </td>
        </tr>
    </table>
</body>
</html>