



<div id="emailConfirmed" class="modal in" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Email Confirmed</h4>
            </div>
            <div class="modal-body">
                <p>
                    Thank you for confirming your email.
                </p>
                <div class="row">
                    <div class="col-12-xs text-center">
                        <a asp-controller="Account" asp-action="Login">
                            <button class="btn btn-success btn-md">OK</button>
                        </a>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->