@using Alpha.ViewModels
@model Alpha.ViewModels.ForgotPasswordUserViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <aside class="col-sm-4">
    </aside> <!-- col.// -->

    <aside class="col-sm-4">
        <div class="card  mb-2 mt-2">
            <article class="card-body">
                <a asp-action="Login" class="float-right btn btn-outline-primary">Sign in</a>
                <h6 class="card-title mb-4 mt-1">Retrieving my password</h6>
                <hr>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-action="ForgotPassword" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Pre-registered email" type="email">
                    </div> <!-- form-group// -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Send to my email </button>
                            </div> <!-- form-group// -->
                        </div>
                    </div> <!-- .row// -->
                </form>
            </article>
        </div> <!-- card.// -->

    </aside> <!-- col.// -->

    <aside class="col-sm-4">
    </aside>

</div>

