
    <div style = 'display:flex; position:absolute; top:0; bottom:0; right:20%; left:20%; '>
        <div style="margin:auto" class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>password reset confirmation!</strong>
            <br />
            <p>
                A message has been sent to the email address.<br />
                For security reasons the link can only be used for 3 hours.
                If you do not receive your email within five minutes check your spam folder.
            </p>
            <button onclick="location.href='\\Account\\Login'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>