@using Alpha.ViewModels
@model Alpha.ViewModels.LoginUserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <aside class="col-sm-4">
    </aside> <!-- col.// -->

    <aside class="col-sm-4">
        <div class="card  mb-2 mt-2">
            <article class="card-body">
                <a asp-action="Signup" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <p>
                    <a href="" class="btn btn-block btn-outline-info"> <i class="fa fa-twitter"></i> Login via Twitter</a>
                    <a asp-action="FacebookLogin" class="btn btn-block btn-outline-primary"> <i class="fa fa-facebook-f"></i> Login via facebook</a>
                    <a asp-action="GoogleLogin" class="btn btn-block btn-outline-primary"> <i class="fa fa-google"></i> Login via Google</a>
                </p>
                <hr>
                @{
                    if (TempData["SpecialMessage"] != null)
                    {
                        <div class="text-info">@TempData["SpecialMessage"].ToString()</div>
                    }
                }
                <div class="text-danger" asp-validation-summary="All"></div>
                <form asp-action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email or login" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="******" type="password">
                    </div> <!-- form-group// -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login </button>
                            </div> <!-- form-group// -->
                        </div>
                        <div class="col-md-6 text-right">
                            <a asp-action="ForgotPassword" class="small">Forgot password?</a>
                        </div>
                    </div> <!-- .row// -->
                </form>
            </article>
        </div> <!-- card.// -->

    </aside> <!-- col.// -->

    <aside class="col-sm-4">
    </aside>

</div>