@using Alpha.Web.App.Services

@model Alpha.Models.Article

@inject CurrentUserInformation  CurrentUserInfo
@{
    ViewData["Title"] = "Show";
    var currentUserInfo = CurrentUserInfo.GetCurrentUserInfo();
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">User!</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>@Model.CreatedDate</p>

            <hr>
            <div>
                <p class="lead">@Html.Raw(Model.Summary)</p>

                <div class="text-justify">
                    @Html.Raw(Model.Description)
                </div>
                <blockquote class="blockquote">
                    <p class="mb-0"></p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title"></cite>
                    </footer>
                </blockquote>

                <hr>
            </div>

            @if (currentUserInfo.IsAuthenticated)
            {
                <!-- Comments Form -->
                <div class="card my-4">
                    @await Html.PartialAsync("_SendComment", new Alpha.ViewModels.SendCommentViewModel
                    { Dsc = string.Empty, ArticleId = Model.Id, ParentId = null })
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Please <a asp-action="Login" asp-controller="Account">login</a> to comment.
                </div>
            }
            @await Component.InvokeAsync("CommentList", Model.Id)
            @*//comments*@
        </div>
    </div>
</div>