<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Preview Image -->
        <div class="mt-4">
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        </div>

        <hr>
        <!-- Post Content -->

        <div class="container-fluid">
            @await Component.InvokeAsync("ArticleList")
            <br />
        </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Categories Widget -->
        <div class="card my-4">
            @await Component.InvokeAsync("TagList")
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>

    </div>

</div>








