@model AboutUs

<style type="text/css">
    .paddingTB60 {
        padding: 60px 0px 60px 0px;
    }

    .gray-bg {
        background: #F1F1F1 !important;
    }

    .about-title {
    }

        .about-title h1 {
            color: #535353;
            font-size: 45px;
            font-weight: 600;
        }

        .about-title span {
            color: #28A745;
            font-size: 45px;
            font-weight: 700;
        }

        .about-title h3 {
            color: #535353;
            font-size: 23px;
            margin-bottom: 24px;
        }

        .about-title p {
            color: #7a7a7a;
            line-height: 1.8;
            margin: 0 0 15px;
        }

    .about-paddingB {
        padding-bottom: 12px;
    }

    .about-img {
        padding-left: 57px;
    }

    /* Social Icons */
    .about-icons {
        margin: 48px 0px 48px 0px;
    }

        .about-icons i {
            margin-right: 10px;
            padding: 0px;
            font-size: 35px;
            color: #323232;
            box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        }

        .about-icons li {
            margin: 0px;
            padding: 0;
            display: inline-block;
        }

    #social-linkedin:hover {
        color: #0077B5;
        transition: all .001s;
    }

    #social-github:hover {
        color: #15AABF;
        transition: all .001s;
    }

    #social-xing:hover {
        color: #B0D400;
        transition: all .001s;
    }

    #social-em:hover {
        color: #DB483B; /*#f39c12;*/
        transition: all .001s;
    }
</style>

<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>Green Codes</span></h1>
                    <h3>Blog about programming</h3>
                    <p class="about-paddingB"></p>
                    <p>Green Codes is a blog about web programming. It focuses on Microsoft's ASP.NET technology and client-side programming languages.</p>
                    <p>This blog was developed using ASP.NET Core 3.x</p>
                    <div class="about-icons">
                        <ul>
                            <li> <a href="https://www.xing.com/profile/SaidRoohullah_Allem/cv"><i id="social-xing" class="fa fa-xing-square fa-3x social"></i></a> </li>
                            <li><a href="https://github.com/jahanalem"><i id="social-github" class="fa fa-github-square fa-3x social"></i></a> </li>
                            <li><a href="https://www.linkedin.com/in/jahanalem/"><i id="social-linkedin" class="fa fa-linkedin-square fa-3x social"></i></a> </li>
                            <li> <a href="mailto:s.r.alem19@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <img class="roohullahPhoto" src="~/images/personal photos/Said Roohullah Allem.jpg" />
                <div class="about-img">
                    <p>Hi, my name is Said Roohullah Allem, and I am a .NET developer.</p>
                    <p>
                        My first programming experience was with
                        <a href="https://en.wikipedia.org/wiki/QBasic">QBasic</a>.
                    </p>
                    <p>
                        As a student, I became acquainted with C++, assembly, Java, Visual Basic and C# languages.
                    </p>
                    <p>
                        After graduating with my Bachelor of IT, I have worked as a web application developer using Microsoft Technologies such as
                        ASP.NET Web Form, ASP.NET MVC, ASP.NET Core and also with <a href="https://umbraco.com/">Umbraco CMS</a>.
                    </p>
                    <p>
                        <strong>My favorite programming language is C#.</strong>
                    </p>
                    <p>Also as a web developer I have experience with Javascript, JQuery, HTML, CSS and Bootstrap.</p>
                    <hr />
                    <p>Beside from programming, I am very interested in table tennis and chess.</p>
                </div>
            </div>
        </div>
    </div>
</div>