@using Alpha.Infrastructure
@using Alpha.Web.App.Resources.Constants
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authorization


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="56074703213-u4qak3nim2ejjvdd23euf68e724qn4a7.apps.googleusercontent.com">
    <div>
        <title>@ViewBag.Title</title>
        <!-- Bootstrap core CSS -->
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
        <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    </div>
    <!-- Custom styles for this template -->
    <link href="~/css/blog-post.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Jahan's Blog</a>
            <form asp-controller="Search" asp-action="Index" class="form-inline" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="AboutUs" asp-action="AboutUs" asp-area="" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="ContactUs" asp-action="ContactUsForm" asp-area="" class="nav-link">Contact</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link">LogOut</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyTypes.SuperAdmin)).Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="nav-link">Dashboard</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        @RenderBody()
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <a role="button" href="#">AAAAAAAAAAAAAAAA</a>
        <input type="submit" role="button" value="IIIIIIIIII" />
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>*@
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
    <script src="~/js/beta.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
