@using Alpha.Models
@using Microsoft.AspNetCore.Mvc.Razor
@using Alpha.ViewModels
@using Alpha.Web.App.Services
@inject CurrentUserInformation  CurrentUserInformation

@model List<Comment>


@{
    var currentUserInfo = CurrentUserInformation.GetCurrentUserInfo();
}
<div class="media mb-4">
    <div class="media-body">
        @await Html.PartialAsync("_ShowComments", new RecursionComment { Comments = Model, ParentId = null, CurrentUserInfo = currentUserInfo })
        @*@Html.Raw(TreeStructure.ShowComments(Model))*@
    </div>
</div>


